{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/accounts/accounts.css" %}">
    <div class="center-div">
        <div class="text-center">

            <div class="container text-center ">
                <img src="{% static 'images/tic-tac-toe-logo.png' %}" alt="Logo" class="" width="150" height="150">
            </div>

            <h2>Welcome to TicTacToe</h2>

        </div>

        <form method="post" class="container"> {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" id="inputUsername" placeholder="Username" style="color: #000; width: 100%; padding: 8px;" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" id="inputEmail" placeholder="E-Mail" style="color: #000; width: 100%; padding: 8px;" required>
            </div>
            <div class="form-group">
                <input type="password" name="password1" id="inputPassword1" placeholder="Password" style="color: #000; width: 100%; padding: 8px;" required>
            </div>
            <div class="form-group">
                <input type="password" name="password2" id="inputPassword2" placeholder="Repeat password" style="color: #000; width: 100%; padding: 8px;" required>
            </div>

        {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
        <div style="color: red">
            <p>{{ registration_form.non_field_errors }}</p>
        </div>
        {% endif %}

            <button type="submit" class="btn btn-outline-white login-button" >Register</button>

        </form>
    </div>
{% endblock %}