Django<5.0
djangorestframework>=3.12
djangorestframework-simplejwt~=5.3.1
django-cors-headers
channels==4.0.0
channels-redis
django-celery-beat
celery~=5.4.0
PyJWT~=2.10.1
psycopg2-binary
pillow

django-bootstrap-v5
python-dotenv~=1.0.1
selenium~=4.27.1

icecream
colorlog

redis~=5.2.1
asgiref~=3.8.1

daphne # Supports ASGI and WSGI
